@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

:root{
  --colorBlack: #373C40;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.App{
  display: block;
}

.logo{
  height: 40px;
}

.menu{
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;

  align-items: center;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: var(--colorBlack);
}

.menu nav{
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}